.project-header{
    position: fixed;
    left: 0;
    right: 0;
    background-color: var(--bg-darker);
    /* background-color: var(--bg-darker); */

    padding: 0.11rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.project-content{
    margin-top: 4rem;
    padding: 1rem 1rem;
    overflow: auto;
    width: fit-content;
    box-sizing: border-box;
}

.board-container{
    display: flex;
    gap: 1rem;
    /* width: fit-content; */
}

.btn-add-board{
    width: 250px;
    height: 3rem;

    border: 2px dashed var(--accent-lighter);
    background-color: var(--bg);

    color: var(--text);
    border-radius: 0.5rem;

    transition: all 0.2s ease;
}
.btn-add-board:hover{
    background-color: var(--accent-bg);
    border-color: var(--accent);
    color: var(--accent);
}

.btn-add-board:active {
    background-color: var(--accent-lighter);
    scale: 1;
}