.project-header{
    justify-self: space-between;
    background-color: var(--bg-darker);

    padding: 0.11rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}