.mini-project{
    place-self: stretch;
    border-radius: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.mini-project-btn {
    flex: 1;
    border: 1px solid transparent;
    transition: all 0.1s ease-in-out;
    border-radius: 0.5rem;
}

.mini-project-btn:hover {
    border: 1px solid var(--accent);
    background-color: var(--accent-bg);
}